.website-container{
  background-color: rgb(255, 255, 255);
}
body {
  margin: 0;
  padding: 0;
}
  
.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: #000000;
  padding: 10px;
}

.nav-links {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: rgb(232, 232, 232);
}

.logo {
  text-align: center;
  padding: 10px;
}

.hero,
.search,
.buy-sell,
.transactions,
.watchlist,
.wallet {
  text-align: center;
  padding: 200px;
}

.crypto-list {
  display: flex;
  justify-content: space-around;
}

.wallet-info {
  margin-bottom: 10px;
}

.wallet-actions a {
  margin-right: 10px;
}

.footer {
  text-align: center;
  padding: 5px;
}

.logo {
  text-align: center;
  padding: 10px;
}

/* Style for the card */
.card {
  background-color: white;
  border-radius: 10px;  
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.4);
}

/* Style for the buttons */
.view-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: purple;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  margin-top: 10px; /* Adjust as needed */
}

.view-button:hover {
  background-color: #702c91;
}

.buysell {
  text-align: center;
  margin-top: 20px;
}

.buysell h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.buysell-list {
  display: flex;
  justify-content: space-around;
}

.buysell-list div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.buysell-list button {
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.buysell-list button:hover {
  background-color: #45a049;
}

/* CSS for SendReceiveCrypto */
.send-receive-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.send-receive-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

select,
input[type="text"],
input[type="number"],
button[type="submit"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

select {
  width: 250px;
}

input[type="text"] {
  width: 250px;
}

input[type="number"] {
  width: 150px;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
